
/* 
    * break point para RWD 
    * Primero vamos a diseñar para laptop y luego
    * nos iremos adaptando a los dispositivos mas pequeños 
*/ 
:root {

    --breakpoint-xs: 425px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;

    --color-gris-light: #f1f2f3;
    --color-gris: #b6c8ca;
    --color-azul:#2dadb8;
    --color-naranja-dark: #fb601e;
    --color-naranja-light: #f0a647;
}

li {
    list-style: none;
    background-color: var(--color-gris);
    padding: 10px 15px;
}

a {
    text-decoration: none;
}

h1, h2 {
    color: var(--color-gris);
}

.imagen {
    display: inline-block;
    width: 100%;
    height: 75px;
    background-color: var(--color-naranja-dark);

}
.azul {
    background-color: var(--color-azul);
}

.orange {
    background-color: var(--color-naranja-light);
}

/*  LAPTOP 1024px
********************************************/

header, main, footer {
    max-width: var(--breakpoint-lg);
    margin: auto;
   /* background-color: pink; */
}

header {
    display: flex;
}

header .menu-left {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

header .menu-right {    
    width: 60%;
}

header .menu-right ul {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--color-gris);
    position: relative;
    top: 15px;
}


main {
    display: flex;
    justify-content: space-between;
}

main article {
    width: 30%;
    background-color: var(--color-gris-light);    
    
}

#btn-top {
    display: none;
    background-color: var(--color-azul);
}



/*  TABLET 768px
********************************************/

@media (max-width: 768px) {

    main {        
        flex-wrap: wrap; /* si no entra salta  a linea de abajo */
    }

    main article {
        width: 48%;        
        margin-bottom: 2rem;
    }    

}    

/*  MOBILE 425px
********************************************/

@media ( max-width: 425px  ) {

    main article {
        width: 100%; 
    }   
    
    
    #btn-top {
        display: inline;     
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

} 

@media (max-width: 425px) and (orientation: landscape)  {

    body {
        background-color: yellow;
    }

    main article {
        width: 40%; 
    }    
} 