/* Nuestra hoja de estilos */


* { 
    margin: 0;
    padding: 0;
}


/* varibales globales */
:root {
    --azul: #003580;
    --blanco: #FFF;
    --negro: #000;
    --marron: peru;
    --verde: lime;
    --rosa: pink;
}

/* estilos a todas las etiquetas */

body {
    color: var(--negro);
    font-size: 1rem; /* 16px */
    line-height: 1.3rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    box-sizing: border-box;
}


h1 {   
    text-align: center;
    text-transform: capitalize;
    margin: 1rem 0;
}
h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}

p {
    margin: 1rem 0;
}


header, main, footer {
    max-width: 1024px;
    box-sizing: border-box;  /* si tenemos padding o border lo descuenta del hancho, no los suma */
    margin: auto; /* centrar el contenido */
}

header {
    background-color: pink;
}


main {
    background-color: var(--verde);
    padding: 1rem;
}

footer {
    background-color: var(--rosa);
}

header nav {
    background-color: var(--azul);
    color: #FFF;
    padding: 10px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}    

header nav ul li {
    list-style: none; /* quitar puntito */    
    width: 100%;
    text-align: center;
    padding: 5px 0;
}   

header nav ul li:hover {
    background-color: #03A9F4;
}    

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}